@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers */
::-webkit-scrollbar {
	width: 12px;
	/* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
	background: #5d3b3b;
	/* Color of the scrollbar thumb (the draggable part) */
	border-radius: 15px;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	:root {
		--background: 0 0% 90%;
		--foreground: 0 0% 9%;
		--muted: 0 0% 85.66%;
		--muted-foreground: 346.19 8.85% 37.97%;
		--popover: 0 0% 86%;
		--popover-foreground: 0 0% 0%;
		--card: 0 0% 94%;
		--card-foreground: 0 0% 4%;
		--border: 0 0% 87.84%;
		--input: 0 0% 88%;
		--primary: 346.19 64.65% 42.16%;
		--primary-foreground: 0 0% 100%;
		--secondary: 0 0% 81.18%;
		--secondary-foreground: 0 0% 15%;
		--accent: 0 0.13% 86.49%;
		--accent-foreground: 0 0% 21%;
		--warning: 43 87% 55%;
		--warning-foreground: 0 0% 100%;
		--destructive: 6 92% 43%;
		--destructive-foreground: 0 0% 100%;
		--ring: 346.19 64.65% 42.16%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 9%;
		--foreground: 220 10% 90%;
		--muted: 220 1.79% 17%;
		--muted-foreground: 220 7.55% 42.56%;
		--popover: 0 0% 9%;
		--popover-foreground: 220 10% 90%;
		--card: 0 0% 11.76%;
		--card-foreground: 240 5% 67%;
		--border: 220 5.56% 22.23%;
		--input: 220 4.35% 22.48%;
		--primary: 346.19 64.65% 42.16%;
		--primary-foreground: 346.15 66.1% 90%;
		--secondary: 344.15 19.06% 28.1%;
		--secondary-foreground: 220 10% 90%;
		--accent: 220 0% 12%;
		--accent-foreground: 220 10% 90%;
		--warning: 43 87% 55%;
		--warning-foreground: 0 0% 100%;
		--destructive: 360 60.56% 46.71%;
		--destructive-foreground: 0 0% 100%;
		--ring: 346.19 64.65% 42.16%;
	}
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

body {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.card {
	padding: 2em;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.icon-overlay {
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-position: center;
}